# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

.vscode/



/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
.idea
.idea/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Node.js
node_modules/

# Vue.js
/dist/
/.nuxt/
/*.log

# macOS
.DS_Store

# IDE
.idea/

# Build files
/build/
*.tsbuildinfo
